<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.permissiontest">

    <permission
        android:name="com.example.permissiontest.Permission1"
        android:protectionLevel="normal" />
    <permission
        android:name="com.example.permissiontest.Permission2"
        android:protectionLevel="normal" />
    <permission
        android:name="com.example.permissiontest.Permission3"
        android:protectionLevel="normal" />
    <permission
        android:name="com.example.permissiontest.Permission4"
        android:label="@string/perm_label"
        android:description="@string/perm_desc"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="com.example.permissiontest.Permission3" />
    <uses-permission android:name="com.example.permissiontest.Permission4" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NoPermActivity"
            android:exported="true" />
        <activity
            android:name=".PermActivity"
            android:exported="true"
            android:permission="com.example.permissiontest.Permission1" />

        <receiver
            android:name=".PermReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.example.permissiontest.Permission2" />

        <activity
            android:exported="true"
            android:enabled="true"
            android:permission="com.example.permissiontest.Permission4"
            android:name=".DangerActivity"></activity>
    </application>

</manifest>